# Arquivos de Log
*.log

# Arquivos gerados pelo Maven/Java
/target/

# Arquivos gerados pelo Node.js/npm
/node_modules/
npm-debug.log*

# Arquivos de IDEs
.idea/
.project
.classpath
.settings/
*.iml
*.iws
*.ipr

# Arquivos do VS Code
.vscode/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db